# MongoDB Config
MONGO_INITDB_ROOT_USERNAME=user
MONGO_INITDB_ROOT_PASSWORD=root

# Mongo Express Config
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=admin
ME_CONFIG_MONGODB_SERVER=mongodb
ME_CONFIG_MONGODB_ADMINUSERNAME=user
ME_CONFIG_MONGODB_ADMINPASSWORD=root
ME_CONFIG_MONGODB_ENABLE_ADMIN=true

# Minio Config
MINIO_ROOT_USER=root1234
MINIO_ROOT_PASSWORD=root1234

# Kafka Config
KAFKA_KRAFT_MODE=true  # This enables KRaft mode in Kafka.
KAFKA_PROCESS_ROLES=controller,broker  # Kafka acts as both broker and controller.
KAFKA_NODE_ID=1  # A unique ID for this Kafka instance.
KAFKA_CONTROLLER_QUORUM_VOTERS=1@localhost:9093  # Defines the controller voters.
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
KAFKA_LOG_DIRS=/var/lib/kafka/data  # Where Kafka stores its logs.
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true  # Kafka will automatically create topics if needed.
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1  # Since we’re running one broker, one replica is enough.
KAFKA_LOG_RETENTION_HOURS=168  # Keep logs for 7 days.
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0  # No delay for consumer rebalancing.
CLUSTER_ID=Mk3OEYBSD34fcwNTJENDM2Qk  # A unique ID for the Kafka cluster.

# Grafana Config
GF_SERVER_ROOT_URL=http://localhost/grafana/
GF_SERVER_SERVE_FROM_SUB_PATH=true