GOOGLE_CLIENT_ID=....
GOOGLE_CLIENT_SECRET=....
GOOGLE_CALLBACK_URL=....
JWT_PRIVATE_KEY_BASE64=....
JWT_PUBLIC_KEY_BASE64=....
FRONTEND_URL=....
EMAIL_SERVICE=....
EMAIL_USERNAME=....
EMAIL_PASSWORD=....